.logocolor{
	background: linear-gradient(to right, #0066cc 0%, #36e37f 100%);
}
.get-start{
	border-radius:20px;
}
.img-fluidd{
	height:500px;
}
.sec-03{
		height:500px;
}
.fadeInRightt{
    border-left: 1px solid grey;
    padding-left:70px;

}
.logo{display:none;}
.logo1{display:block;}
.my-4{
	background-color:grey;
}
.iconfirst{
	height:70px;
	width:70px;
}

.my-4{
	display: none;
}
.iconn{
	width:20px;
	height:20px;
}
.pg-head{
	font-size:35px;
	font-family:  sans-serif;
}
.pg-head-b{
	font-size:25px;
	font-family: Arial, Helvetica, sans-serif;
}
@media only screen and (max-width: 768px) {
	.h-img{
		display:none;
	}
	.pg-head{
	font-size:25px;
	text-align:center;
     }
    .pg-head-b{
	font-size:20px;
    }
	.pg-head-bb{
	text-align:center;
    }
	.page-header{
		    height: 50vh;
	}
}